*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body{
    height: 80%;
    margin: 10;
    font-family: Arial, "Helcetica Neue", 
    Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    color: black;
}

header{
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.head{
  display: grid;
  position: absolute;
  top: 30px;
  left: 50px;
  justify-content: left;
}

#loginForm{
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
}

#username-field{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#password-field{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#login-form-submit{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

hr{
  border: none;
  border-top: 1px solid #000;
  color: #000;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after{
  background-color: #fff;
  content: 'social login';
  padding: 0px 4px;
  position: relative;
  top: -13px;
}

.icons{
  width: auto;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.icons a{
  position: relative;
  background: none;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.icons a:not(:last-child){
  margin-right: 60px;
}

.icons a:hover{
  transform: scale(1.2);
}

#socialLogin .register{
  margin-top: 30px;
  text-align: center;
}