*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, "Helcetica Neue", 
    Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#nav .head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 0;
    height: 100%;
    padding: 30px 0px;
    justify-content: space-between;
}

#nav .head .logo{
    text-align: left;
    grid-row: 4/5;
}

#nav .head .button{
    text-align: right;
    grid-row: 1/5;
}

#nav .navBar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.searchBar{
    height: 20px;
    width: 100px;
    border: 0px;
    background: #fff;
    display: flex;
    justify-content: left;
}

.searchBar input{
    font-size: 15px;
    width: 170px;
    padding: 0px 10px;
    outline: none;
}

.searchBar i{
    padding: 0px 5px;
}

a .button{
    width: 40px;
    height: 100%;
    padding: 10px 0px;
    border: 0px;
    background: rgb(0, 0, 0);
    outline: none;
    float: right;
    color: rgb(0, 0, 0);
    justify-items: right;
}