*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9e8e9;
    color: #273169;
}


body{
    margin: 0;
    font-family: Arial, "Helcetica Neue",
    Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    border-radius: 500px;
    border-color: #273169;
}

header{
    position: relative;
    height: 50%;
    display: grid;
    justify-content: center;
    padding: 0 20px;
}

.head{
    display: grid;
    position: relative;
    top: 0;
    height: 70%;
    padding: 30px 0px;
    justify-content: space-between;
}

.head .logo{
    text-align: left;
    grid-row: 4/5;
}

.head .button{
    text-align: right;
    grid-row: 1/5;
}

#nav{
    width: 100%;
    border-bottom: 1px solid #273169;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#nav .navBar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 50px;
    text-align: left;
}

.searchBar{
    height: 20px;
    width: 100%;
    border: 0px;
    background: #fff;
    display: flex;
    justify-content: left;
}

.searchBar input{
    font-size: 15px;
    width: 100%;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #273169;
    background-color: #fff;
}

.searchBar i{
    padding: 0px 5px;
}

a .button{
    width: 40px;
    height: 100%;
    padding: 10px 0px;
    border: 0px;
    background: rgb(0, 0, 0);
    outline: none;
    float: right;
    color: rgb(0, 0, 0);
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    grid-template-areas:
    'imageSlider imageSlider imageSlider topProjects'
    'projects projects projects topProjects';
}

#imageSlider{
    grid-area: imageSlider;
    position: relative;
    display: grid;
    width: 600px;
    overflow: hidden;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 600px);
    justify-content: center;
    align-items: center;
    background-color: #e9e8e9;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  #slide-1:target ~ .imageContainer {
    left: 0px;
  }

  #slide-2:target ~ .imageContainer {
    left: -600px;
  }

  #slide-3:target ~ .imageContainer {
    left: -1200px;
  }

  .buttons {
    position: relative;
    width: 600px;
    top: -20px;
    align-items: center;
    text-align: center;
  }

  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #273169;
  }

#topProjects{
    grid-area: topProjects;
}

#projects{
    grid-area: projects;
    display: grid;
    grid-template-areas:
    'project1 project2 project3'
    'project4 project5 project6';
}

 .project1-image{
    grid-area: project1;
 }

 .project2-image{
    grid-area: project2;
 }

 .project3-image{
    grid-area: project3;
 }

 .project4-image{
    grid-area: project4;
 }

 .project5-image{
    grid-area: project5;
 }

 .project6-image{
    grid-area: project6;
 }